:root {
  --font-body: "Open Sans", sans-serif;
  --font-heading: "Raleway", sans-serif;
  --primary: hsl(224, 93%, 58%);
  --primary-variant: hsl(240, 75%, 98%);
  --success: hsl(170, 45%, 43%);
  --gray: hsl(240, 75%, 98%);
  --secondary: hsl(170, 45%, 43%);
  --column-gap: 4rem;
  --dark: hsl(243, 87%, 12%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: clamp(1rem, 1vw + 1rem, 1.125rem);
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: var(--font-heading);
}

h1 {
  font-size: 2rem;
  line-height: 1.25;
}
ul,
li {
  list-style: none;
}

.container {
  max-width: 64rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  font-family: var(--font-heading);
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}

.button:hover {
  filter: brightness(0.9);
}

.button--primary {
  background-color: var(--primary);
  color: rgba(255, 2550, 2550, 0.85);
}

.link {
  color: var(--success);
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.form--inline {
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
}

.form__input {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  flex: 1;
}

.page {
  color: rgba(0, 0, 0, 0.75);
  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 1.5;
}

.page__navbar {
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.navbar__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.navbar__brand {
  display: inline-block;
  width: 8rem;
  height: 2.5rem;
}

.navbar__nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.navbar__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  transition: 0.4s;
}

.navbar__link:hover {
  color: rgba(0, 0, 0, 0.75);
}

.header {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.header__inner {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  column-gap: var(--column-gap);
  align-items: center;
}

.header__title {
  text-align: center;
  margin-bottom: 2rem;
}

.header__text {
  text-align: center;
  margin-bottom: 2rem;
}

.card {
  padding: 1rem;
  text-align: left;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.card__text::before {
  content: '"';
  display: block;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: -1rem;
}

.about {
  background-color: hsl(240, 75%, 98%);
}

.cta {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: hsl(238, 22%, 44%);
  color: rgba(255, 255, 255, 0.85);
}

.cta__inner {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: var(--dark);
  color: rgba(255, 255, 255, 0.85);
}

.footer__inner {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.footer__inner > * {
  flex: 1;
}

.footer__logo {
  filter: brightness(0) invert(1);
  margin-bottom: 2rem;
}

.footer__link {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
}

@media only screen and (min-width: 772px) {
  .header__inner {
    flex-direction: row-reverse;
    column-gap: var(--column-gap);
  }

  .header__banner {
    width: 50%;
  }

  .header__title {
    text-align: left;
  }

  .header__text {
    text-align: left;
  }

  .cta__inner {
    flex-direction: row;
    column-gap: var(--column-gap);
  }

  .cta__inner > * {
    flex: 1;
  }

  .footer__inner {
    flex-direction: row;
    column-gap: 4rem;
  }
}
